<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,600&display=swap"
      rel="stylesheet"
    />
    <title>Teller Connect</title>
  </head>
  <body>
    <main>
      <nav>
        <a href="/">
          <div class="icon">
            <span class="iconify" data-icon="mdi-home"></span>
          </div>
        </a>
      </nav>
      <div class="container">
        <section class="card">
          <header>
            <h1>Settings</h1>
            <div class="status"><%= locals.saved && 'Saved' %></div>
          </header>
          <form action="/settings" method="post">
            <div class="field">
              <label for="applicationId">Teller Application Id:</label>
              <input
                id="applicationId"
                name="applicationId"
                type="text"
                value="<%= applicationId %>"
              />
            </div>
            <div class="field">
              <label for="fireflyToken">Firefly Token:</label>
              <div class="textarea">
                <!-- prettier-ignore -->
                <textarea id="fireflyToken" name="fireflyToken"><%= fireflyToken %></textarea>
              </div>
            </div>
            <div class="field">
              <label for="importerUrl">Firefly Importer Url:</label>
              <input
                class="full_width"
                id="importerUrl"
                name="importerUrl"
                type="text"
                value="<%= importerUrl %>"
              />
            </div>
            <button type="submit">Save</button>
          </form>
        </section>
      </div>
    </main>
    <script src="//code.iconify.design/1/1.0.6/iconify.min.js"></script>
  </body>
</html>
